<div class="login-wrapper">
    <div class="login-card">
        <div class="login-header">
            <h2>¡Bienvenido a vapati!</h2>
            <p>Inicia sesión para explorar oportunidades de inversión</p>
        </div>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
            <div class="form-group">
                <label for="email">Correo electrónico</label>
                <input type="email" id="email" formControlName="email" placeholder="tu@email.com" />
                <div 
                    *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid" class="error"
                    >
                    <div
                        class="error-message"
                        *ngIf="loginForm.get('email')?.errors?.['required']">
                        El correo es requerido.
                    </div>
                    <div 
                        class="error-message"
                        *ngIf="loginForm.get('email')?.errors?.['email']"
                        >
                        Formato de correo inválido. 
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="password">Contraseña</label>
                <div class="password-wrapper">
                    <input [type]="showPassword() ? 'text' : 'password'" id="password" formControlName="password"
                        placeholder="••••••••" />
                    <button type="button" class="toggle-password" (click)="setShowPassword()">
                        <lucide-icon [name]="showPassword() ? 'eye' : 'eye-off'" class="icon"></lucide-icon>
                    </button>
                </div>
                <div 
                    class="error-message"
                    *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid" class="error"
                    >
                    <div 
                        class="error-message"
                        *ngIf="loginForm.get('password')?.errors?.['required']"
                        >
                        La contraseña es requerida.
                    </div>
                </div>
            </div>

            <div class="form-options">
                <label>
                    <input type="checkbox" />
                    Recordarme
                </label>
                <a href="/forgot-password">¿Olvidaste tu contraseña?</a>
            </div>

            <button [disabled]="loginForm.invalid" type="submit" class="btn-login">
                Iniciar sesión
            </button>
        </form>


        <div class="divider">
            <span>o continúa con</span>
        </div>

        <div class="social-login">
            <button class="btn-social google">
                <svg>
                    <path fill="currentColor"
                        d="M22.56 12.25c0-.78-.07-1.53-.2-2.25H12v4.26h5.92c-.26 1.37-1.04 2.53-2.21 3.31v2.77h3.57c2.08-1.92 3.28-4.74 3.28-8.09z" />
                    <path fill="currentColor"
                        d="M12 23c2.97 0 5.46-.98 7.28-2.66l-3.57-2.77c-.98.66-2.23 1.06-3.71 1.06-2.86 0-5.29-1.93-6.16-4.53H2.18v2.84C3.99 20.53 7.7 23 12 23z" />
                    <path fill="currentColor"
                        d="M5.84 14.09c-.22-.66-.35-1.36-.35-2.09s.13-1.43.35-2.09V7.07H2.18C1.43 8.55 1 10.22 1 12s.43 3.45 1.18 4.93l2.85-2.22.81-.62z" />
                    <path fill="currentColor"
                        d="M21.35 11.1h-9.17v2.97h5.7c-.25 1.49-1.03 2.75-2.2 3.61l3.45 2.67c2.01-1.85 3.22-4.57 3.22-7.8 0-.68-.07-1.33-.2-1.95z" />
                </svg>
                Google
            </button>
            <button class="btn-social facebook">
                <svg>
                    <path
                        d="M24 12.073c0-6.627-5.373-12-12-12s-12 5.373-12 12c0 5.99 4.388 10.954 10.125 11.854v-8.385H7.078v-3.47h3.047V9.43c0-3.007 1.792-4.669 4.533-4.669 1.312 0 2.686.235 2.686.235v2.953H15.83c-1.491 0-1.956.925-1.956 1.874v2.25h3.328l-.532 3.47h-2.796v8.385C19.612 23.027 24 18.062 24 12.073z" />
                </svg>
                Facebook
            </button>
        </div>

        <div class="register">
            <p>
                ¿No tienes una cuenta?
                <a href="/register">Regístrate gratis</a>
            </p>
        </div>
    </div>

    <div class="login-footer">
        <p class="security-note">Protegido por encriptación de nivel bancario</p>
        <div class="security-info">
            <span>SSL Seguro</span>
            <span>•</span>
            <span>Datos protegidos</span>
            <span>•</span>
            <span>Privacidad garantizada</span>
        </div>
    </div>
</div>