<div class="navbar">
    <div class="left">
        <div routerLink="/" class="logo">
            <img src="Union.svg" alt="logo" />
            <div class="text">
                <span class="vapati">Vapati</span>
                <span class="crowdfunding">CROWDFUNDING</span>
            </div>
        </div>
        <div class="menu">
            <ol>
                <li><a >Explorar</a></li>
                <li><a href="#">about</a></li>
                <li><a href="#">contact</a></li>
            </ol>
        </div>
    </div>
    <div class="right">
        <div class="search">
            <lucide-icon name="search"></lucide-icon>
            <input type="text" placeholder="Buscar proyectos" />
        </div>
        <div class="login" *ngIf="!isLoginRoute">
            <button routerLink="/login" class="btn-primary">Iniciar sesion</button>
        </div>
        <div class="register">
            <button class="btn-primary-outline">Registrarse</button>
        </div>
    </div>
</div>
